name: Run Unit Test via Pytest

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |  
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --with dev
      - name: Analysing the code with pylint
        run: |
          pylint $(git ls-files '*.py')
        continue-on-error: true
      - name: Test with pytest
        run: |
          pip install coverage
          coverage run -m pytest  -v -s
      - name: Generate Coverage Report
        run: |  
          coverage report -m
